/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-history
/.nrepl-port
.hgignore
.hg/
.#*
/resources/build.edn
settings.edn
/templates
/records
.publish.edn
gd-edit.log

.cpcache
.calva
.clj-kondo
.lsp